.header {
  height: 650px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 6vw)
  );

  background-color: white;
}
.about-content{
  animation-name: slide-in;
  animation-duration: 1.5s;
}
@keyframes slide-in {
  from{ transform: translateX(-400px); opacity: 0 ;}
  to{transform: translateX(0px); opacity: 1; }
}
.form-completed{
  -webkit-animation-name: shrink; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: shrink;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}


@keyframes shrink {
from {
       transform: rotate(0deg) scale(1);}
to {
    transform: rotate(200deg) scale(0);}

}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .form-plx{
    position: absolute;
    left: -85px;
  }
  .about-footer{
    height:900px;
  }
.about-title{
position: relative;
margin: 75px auto 5px;
font-size: 50px;
text-shadow: 1px 1px grey;
}
.about-content{
  padding: 30px;
font-size: 13px;
}

.about-img{
  width: 100%;
  overflow:hidden;
}

.about-img img{
  width: 100%;
}

.contact-title{
  margin-top: 70px;
  color:white;
  font-size: 25px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .header{
    height: 560px;
  }
.about-title{
  margin-left: 75px;
  font-size:70px;
}
.about-content{
  width: 65%;
  font-size: 16px;
  margin-top: -200px;
}

.about-img{
  position: absolute;
  width: 380px;
z-index: -1;
right: 31px;
bottom: 120px;
}

.about-img img{
display: block;
width: 470px;

}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .form-plx{
    position: static;
    left: 0px;
    width: 500px;
  }

  .about-footer{
    height:1100px;
  }
  .about-title{
    font-size: 100px;
  }
  .about-content {
      width: 72%;
      font-size: 18px;
      margin-top: -200px;
  }
  .about-img{
    top: 82px;
   right: 30px;

  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.header{
  height: 740px;
}
.about-title{
  font-size: 120px;
  }
  .about-content{
    width: 80%;
    font-size: 30px;
  }
.about-img img{
  width: 750px;
}

.about-img{
  height: 650px;
  width: 580px;
}
.contact-title{
  font-size: 30px;
}
}
