.about-container{
  background-color: $darkbg;
}
.atom-screenshot{
  width: 100%;
}
.mamp-logo{
    @include img-overlap(35%,1%);
      top:27%;
  }
.atom-logo{
  @include img-overlap(33%,35%);
  z-index: 20;
    top:20%;
}
.git-logo{
  @include img-overlap(30%,68%);
    top:20%;
}
.about-dev-img{
  position: relative;
}
.dev-container{
  color: $darkTxt;
}
.header {
  height: 650px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 6vw)
  );
  -webkit-clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 6vw)
  );

  background-color: white;
}


.dark-background{
  background-color: $darkbg;
  box-shadow: 0px 7px 7px -7px #bfbfbf;
}
.about-content{
  animation-name: slide-in;
  animation-duration: 1.5s;
  width: 100%;
}
.contact-header a{
  color: $autumText;
}
.contact-header a:hover{
  color: #e1c5ad;
}
.about-header{
  width: 100%;
}
.about-btn{
  z-index: 20;
}
.slide-in-plx{
  color:$lightTxt;
}
@keyframes slide-in {
  from{ transform: translateX(-200px); opacity: 0 ;}
  to{transform: translateX(0px); opacity: 1; }
}
.form-completed{
  -webkit-animation-name: shrink; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  animation-name: shrink;
  animation-duration: 2s;
  animation-fill-mode: forwards;

}


@keyframes shrink {
from {
       transform: rotate(0deg) scale(1);}
to {
    transform: rotate(200deg) scale(0);}

}
.contact-area{
  background-color: $darkbg;
  color:$lightTxt;
  box-shadow: 0px 0px 8px 3px #bfbfbf;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  .contact-area{
    padding:18px;
  }

  .form-plx{
    position: absolute;
    left: -85px;
  }

  .slide-in-plx{
    margin: 50px 5px;
  }

  .header{
    height:940px;
  }

.about-title{
position: relative;
margin: 75px auto 5px;
font-size: 50px;
text-shadow: 1px 1px grey;
width: 100%;
text-align: center;
}
.about-content{
  padding: 30px;
font-size: 14px;
}

.about-img-container{
  width: 100%;
  overflow:hidden;
}

.about-img-container img{
  width: 100%;
}

.contact-header{

  font-size: 25px;
}
.dev-content{
  margin-top: 30px;
}
.dev-content p{
  margin: 30px 0px;
  padding: 0px 5px;
}
.about-dev-img{
  margin-top: 20px;
}
.about-content p{
  text-indent: 20px;
}
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .header{
    height: 517px;
  }
.p-width{
  width: 75%;
}
.about-title{
  text-align: left;
  margin-left: 10%;
  margin-top: 6px;
}

.about-img{
  position: relative;
  left:88px;
}

.about-img-container {
    position: absolute;
    width: 380px;
    z-index: -1;
    right: 0px;
    bottom: 209px;
}
.about-content{
  margin-top: -30px;
}
.about-content p{
  text-indent: 30px;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .header{
    height: 515px;
  }

.about-title{
  margin-left: 75px;
  margin-bottom: 10px;
  font-size:50px;
}
.about-content{
  font-size: 16px;
  margin-top: -2px;
}

.p-width{
  width: 70%;

}

.about-img{
  left: 0px;
}

.about-img-container{
  position: absolute;
  width: 380px;
z-index: -1;
right: 31px;
bottom: 135px;
}

.about-img-container img{
display: block;
width: 470px;

}
.about-dev-img{
  margin-top: 75px;
}
.contact-area form{
  max-width: 500px;
  margin: auto;
}

.contact-header{
  text-align: center;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .form-plx{
    position: static;
    left: 0px;
    width: 500px;
  }

  .about-experience{
    height:350px;
  }
  .about-title{
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .about-content {
      font-size: 18px;
      margin-top: -22px;
  }
  .about-img-container{
    top: 82px;
   right: 30px;

  }
  .web-tech-content{
    font-size: 20px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
.header{
  height: 1000px;
}
.about-title{
  font-size: 70px;

  }
  .web-tech-content{
    font-size: 30px;
  }
  .about-content{
    font-size: 30px;
    margin-top: 20px;
  }
.about-img-container img{
  width: 750px;
}

.about-img-container{
  height: 735px;
  width: 580px;
  top:265px;
}
.contact-header{
  font-size: 30px;
}
}

@media only screen and (min-width : 1920px) {

.about-content{
  margin:80px auto 0px;
  padding: 0px;
}
.p-width{
  width: 54%;
}
.about-title{
  margin-left:25%;

  }



}
