body{
    font-family: $Header-font;
    height: 100%;
}
html{
    height: 100%;
}


.jumbo-container{
  background-color: white;
}

.myName-title{
  position: absolute;
  top:20px;
  left: 20px;
  color:$imgTxtDark;
}
.myName-subtitle{
  position: absolute;
  top:50px;
  left: 24px;
  color: $imgTxtLight;
}

img.banner-img {

    display: block;
    max-width:100%;
    width: 100vw;
    height:auto;

}


.splash-blerb{
    width: 750px;
  position: absolute;
  padding:40px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.navBar {
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 5;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 85, 0);
}

.b-container {
  position: relative;
    height: 1000px;
    width: 100%;
}
.portfolio{
  background-color: black;
  border-radius: 15px;
  padding: 20px;
}
.plx-title{
  text-align: center;
  opacity: 0;
}

.srjc-logo {
  width: 225px;
  @include inline-offset(20px);
  transform: translateY(-40px);
}

.portfolio-title {
  position: relative;
  @include inline-offset(-65px);
  color: black;
  border-bottom: 1px solid black;
  width: fit-content;
  width: -moz-fit-content;
  font-size:50px;
  font-family: $srjc-font;

}




.modal-img {
  width: 100%;
}

.img-title {
position: absolute;
width: 200px;
font-size: 30px;
margin: auto;
text-align: center;
left: 0;
right: 0;
color: $imgFont;

}

.image-holder {
  height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.image-holder:before {
  content: "";
  color: white;
  padding: 20px;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(209, 209, 209, 0.5);
  transition: all .3s linear;
}
.image-holder:hover:before {
  background: none;
  content: "";
}

.icon-grp{
  width: 200px;
      margin: 0px auto;
      padding: 30px 0px;
}

.carousel-img {

  width: 100%;
}

.footer {
  background-color: ghostwhite;
  margin-top: 68px;
}

.follow-txt {
  border-bottom: 1.5px solid red;
    padding-bottom: 2px;
    margin: 10px auto;
    width: fit-content;
    width: -moz-fit-content;
    font-weight: 600;
    font-size: 37px;

}

.social-icon {
  position: relative;
  color: $iconColor

}

.social-icon:visited {
  color: $iconColor
}

.social-icon:hover {
  opacity: .4;
}

.about-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $imgTxtLight;
  border-color: $imgTxtLight;
}

.about-btn:hover{
  background-color: $imgTxtLight;
  color: black;
  border-color: black;
}
/*BOOTSTRAP CLASS ALTERATIONS*/

.carousel-indicators li {

background-color: #3b3b3b;
}

.card {
  margin-top: 25px;
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .splash-blerb{
      width: auto;
      font-size: 24px;
      top:290px;
      color:black;
    }

    .portfolio-title{
      font-size: 30px;
    }

  .banner-img{
    position: absolute;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  .banner-img{
    position: fixed;
  }

  .portfolio-title{
    font-size: 50px;
  }

  .splash-blerb {
      top:60px;
      color: $blerbColor;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .splash-blerb{
    width: 750px;
    font-size: 35px;
    top:150px;

  }

  .b-container{

    height: 1000px;
  }


}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
