$bg: black;
$banners: white;
$fontTitle: black;
$subtitle: grey;
body{
    background: $bg;
}

.myName-title{
  position: absolute;
  top:20px;
  left: 20px;
  color:$banners;
}
.myName-subtitle{
  position: absolute;
  top:50px;
  left: 24px;
  color: $subtitle;
}

img.banner-img {
    position: fixed;
    width: 100%;
    height: 100vh;

}


.splash-blerb{
    width: 750px;
    top:150px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.nav {
    position: fixed;
}

.b-container {
  position: relative;
    height: 800px;
}




.portfolio-title {
  color: $banners;

  width: 100%;
text-align: center;
    font-size:50px;
}



.modal-img {
  width: 100%;
}

.image-holder {
  height: 100%;
  width: 100%;
  position:relative;
}
.image-holder:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,255,255, 0.5);
  transition: all .3s linear;
}
.image-holder:hover:before {
  background: none;
}
