
@mixin inline-offset($px) {
  display: inline-block;
  transform: translateX($px);
}
@mixin img-overlap($width, $left){
  position: absolute;
  width: $width;
  left: $left;
}
@mixin arrow-size{
  height: 80px;
width: 70px;
}
