@import url('https://fonts.googleapis.com/css?family=Cinzel|DM+Serif+Text&display=swap');

//Fonts
$Header-font: 'DM Serif Text', serif;
$srjc-font: 'Cinzel', serif;

$bg: black;
$darkbg: black;
$textDark: black;
$imgTxtDark: black;
$fontTitle: black;
$imgTxtLight: white;
$imgFont: white;
$iconColor: black;
$blerbColor: white;
