@import url('https://fonts.googleapis.com/css?family=Cinzel|DM+Serif+Text&display=swap');

//Fonts
$Header-font: 'DM Serif Text', serif;
$srjc-font: 'Cinzel', serif;

$darkbg: #232323;
$darkTxt: black;
$lightTxt: #f8f8f8;
$fontTitle: black;
$imgTxtLight: white;
$iconColor: #232323;
$autumText: #c69672;
