@import url('https://fonts.googleapis.com/css?family=Cinzel|Lato&display=swap');

//Fonts
$header-font: 'DM Serif Text', serif;
$srjc-font: 'Cinzel', serif;
$p-fonts: 'Lato', sans-serif;

$darkbg: #232323;
$darkTxt: black;
$lightTxt: #f8f8f8;
$fontTitle: black;
$imgTxtLight: white;
$iconColor: #232323;
$autumnAccent: #c69672;
